<div class='container'>
	<h2>Coupon name : <%= coupon.name%></h2>
	<h2>Offer: <%= coupon.offer%></h2>
	<h2>prereq: <%= coupon.prereq%></h2>
	<h2>Vendor id: <%= coupon.v_id%></h2>
	<h2>Expiry date: <%= coupon.expiry%></h2>
	<h2>Visit count: <%= coupon.visitcount%></h2>
		
<hr>
<td><a href="/coupon/edit/<%=coupon.id%>"class="btn btn-default">edit</a></td>
</div>