<div class='container'>
	<h2>User id: <%= user.id%></h2>
	<h2>Name : <%= user.name%></h2>
	<h2>Phone no: <%= user.phoneno%></h2>
	<h2>Email: <%= user.email%></h2>
	
<hr>
<a href="/user/edit/<%=user.id%>"class="btn btn-default">edit</a></td>

</div>