<div class="container">
<h3>Coupons</h3>
<table class='table'>
<tr>
	<th>Coupon No</th>
	<th>Shop</th>
	<th>Offer tag</th>
	<th>Expiry date</th>
	<th>Visit count</th>
</tr>

<% _.each(coupons,function(coupon) { %>

<tr data-id="<%= coupon.id %>" data-model="<%= coupon %>">
	<td><%= coupon.id %></td>
	<td><%= coupon.shop%></td>
	<td><%= coupon.offer %></td>
	<td><%= coupon.expiry %></td>
	<td><%= coupon.visitcount %></td>
	<td><a href="/coupon/show/<%=coupon.id%>"class="btn btn-default">show</a></td>
	<td><a href="/coupon/edit/<%=coupon.id%>"class="btn btn-default">edit</a></td>
	<td><a href="/coupon/destroy/<%=coupon.id%>"class="btn btn-default">destroy</a></td>
</tr>
<% }) %>
</table>
</div>