<div class='container'>
	<h2>Latitude : <%= location.latitude%></h2>
	<h2>Longitude: <%= location.longitude%></h2>
	<h2>Country: <%= location.country%></h2>
	<h2>City: <%= location.city%></h2>
	<h2>State code: <%= location.stateCode%></h2>
	<h2>Zip code: <%= location.zipcode%></h2>
	<h2>Street name: <%= location.streetName%></h2>
	<h2>Street number: <%= location.streetNumber%></h2>
	<h2>Coupon id: <%= location.c_id%></h2>
	<hr>
<td><a href="/coupon/edit/<%=location.id%>"class="btn btn-default">edit</a></td>
</div>