<form action="/coupon/update/<%=coupon.id%>"method="POST"class="form-signup">
<h2>hey you are editing a coupon....</h2>
<input value="<%=coupon.number%>"name="number"type="text"class="form-control"/>
<input value="<%=coupon.shop%>"name="shop"type="text"class="form-control"/>
<input value="<%=coupon.offer%>"name="offer"type="text"class="form-control"/>
<input value="<%=coupon.expiry%>"name="expiry"type="text"class="form-control"/>
<input value="<%=coupon.visitcount%>"name="visitcount"type="text"class="form-control"/>
<input type="submit"value="proceed"class="btn btn-default"/>
<input type="hidden" name="_csrf" value="<%=_csrf%>"/>
</form>
